<div class='login'>
 <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>"><img src="images/GitHub-Mark.png"/></a>
 <p>
  <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Log In through Github to Begin</a>
 </p>
</div>