<html>
  <head>
  </head>
  <body>
    <div class='login'>
    <p>
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Click Here</a> to log in throughPlay!</a>
    </p>
  </div>
  </body>
</html>