<!DOCTYPE html>
<html>
	<head>
		<title>Makersquare Bingo</title>
		<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css"/>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<!-- topbar -->
	<header>
		<div class="row">
			<div class="large-12 columns">
				<nav class="top-bar" data-topbar>
  				<section class="top-bar-section">
  				<ul class="left">
      <li><a href="#">Player's Game</a></li>
       <li><a href="#">Scoreboard</a></li>
    </ul>
  </section>
				</nav>
			</div>
	</header>
	<body>
		<div id='page'>
			<!-- headerline -->
			<div class='header'>
				<img src="http://www.themakersquare.com/assets/course/logo-4f4dc36c818dcccf4682e342b9c764b4.png">
				<img src="images/bingo2.png"/>
			</div>
			<!-- bingo board -->
				<div class="board">
					<div>
						<div class="square" id="cell0">22</div>
						<div class="square" id="cell1">0</div>
						<div class="square" id="cell2">5</div>
						<div class="square" id="cell3">10</div>
						<div class="square" id="cell4">14</div>
					</div>
					<div>

						<div class="square" id="cell5">19</div>
						<div class="square" id="cell6">1</div>
						<div class="square" id="cell7">6</div>
						<div class="square" id="cell8">11</div>
						<div class="square" id="cell9">15</div>
					</div>
					<div>
						<div class="square" id="cell10">20</div>
						<div class="square" id="cell11">1</div>
						<div class="square selected" id="cell12">Free</div>
						<div class="square" id="cell13">1</div>
						<div class="square" id="cell14">1</div>
					</div>
					<div>

						<div class="square" id="cell15">1</div>
						<div class="square" id="cell16">2</div>
						<div class="square" id="cell17">7</div>
						<div class="square" id="cell18">1</div>
						<div class="square" id="cell19">16</div>
					</div>
					<div>

						<div class="square" id="cell20">21</div>
						<div class="square" id="cell21">3</div>
						<div class="square" id="cell22">8</div>
						<div class="square" id="cell23">12</div>
						<div class="square" id="cell24">17</div>
					</div>
				</div>
				<!-- yell bingo -->
				<!-- <div id="bingo">
					<a href="#"><img src="Button_Bingo.png"/></a>
				</div>
				</div -->
	</body>
</html>
