<!DOCTYPE html>
<html>
	<head>
		<title>Makersquare Bingo</title>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
		<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css"/>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.js"></script>

		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<!-- topbar -->
	<header>
		<div class="row">
			<div class="large-12 columns">
				<nav class="top-bar" data-topbar>
  				<section class="top-bar-section">
  				<ul class="left">
      <li><a href="#">Player's Game</a></li>
       <li><a href="#">Scoreboard</a></li>
    </ul>
  </section>
				</nav>
			</div>
	</header>
	<body>
		<div id='page'>
			<!-- headerline -->
			<div class='header'>
				<img src="http://www.themakersquare.com/assets/course/logo-4f4dc36c818dcccf4682e342b9c764b4.png">
				<img src="images/mksbingo2.png"/>
			</div>
			<%= yield %>
				<!-- yell bingo -->
				<!-- <div id="bingo">
					<a href="#"><img src="Button_Bingo.png"/></a>
				</div>
				</div -->
				<script>
					console.log('<%=@identity%>');
				</script>
	</body>
</html>
